.btn-delete {
    text-align: right;
}

.panel-start {
    margin-top: 2em;
}

#logo {
    font-family: Montserrat;
    font-size: 4.5em;
    color: #fff;
    text-align: center;
}

#tag-line {
    font-family: Montserrat;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

footer {
    font-family: Montserrat;
    font-size: 1em;
    color: #fff;
    text-align: center;
}

.panel-default {
    margin-top: 2em;
}

.thumbnail {
    padding: 0;
}

.label-sign-up {
    text-align: right;
}

#ca-logo {
    display: block;
    margin: auto;
    margin-top: 4em;
}

#background {
    background-image: url("../img/background/gliding.jpg");
    background-size: cover;
    background-color: #efefef;
}

.navbar {
    border-radius: 0;
}

sup {
    font-size: 0.375em;
    vertical-align: super;
}

.form-horizontal .control-label {
    text-align: left;
    border-radius: 50px;
}